body{
  background-image:url('images.jpg');
  background-size:cover;
  font-family: sans-serif;
  background-attachment:fixed;
  color:white;
}
.img{
  position: absolute;
  top:35%;
  width:100%;
  text-align: center;
  font-size:25px;
}
.nav{
  text-align:center;
  margin:330px;
  color:white;
}
.nav li{
  text-align:center;
  display: inline-block;
  padding: 15px;
  font-size:20px;
  float: center;
  color:white;
}
a:link, a:visited{color:white;}
a:hover,a:active{color:red;}
a{
  text-decoration:none;
}
.one{
  position: absolute;
  top:100%;
  bottom:30%;
  left:15%;
  width:70%;
  text-align: center;
  font-size:25px;
}
.about{
  display: block;
}
.par{
  position: absolute;
  top:10%;
  width:100%;
  text-align: center;
  font-size:50px;
}
div.gallery {
  border: 2px solid #ccc;
  border-radius: 2px;
  position: static;
  top:35%;
  padding:5px;
  margin:20px;
}

div.gallery img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 10px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.me{
  text-align: center;
  margin: 100px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
div.desc {
  padding: 15px;
  text-align: center;
}
select {
  width: 80%;
  padding: 16px 20px;
  border: 2px;
  margin-left: 20px;
  border-radius: 4px;
  background-color: #f1f1f1;
}
